<!-- Copyright (c) Microsoft Corporation.
     Licensed under the MIT License. -->

<!-- <LayoutSnippet> -->
<h1 class="mb-3">Files</h1>
<a href="/calendar/new" class="btn btn-light btn-sm mb-3">New event</a>
<table class="table">
  <tbody>
    {{#each events}}
      <tr>
        <td>{{this.id}}</td>
        <td>{{this.name}}</td>
        <td>{{this.position}}</td>
        <td>{{this.visibility}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
<!-- </LayoutSnippet> -->
