OAUTH_CLIENT_ID=YOUR_CLIENT_ID_HERE
OAUTH_CLIENT_SECRET='YOUR_CLIENT_SECRET_HERE'
OAUTH_REDIRECT_URI=http://localhost:3000/auth/callback
OAUTH_SCOPES='user.read,calendars.readwrite,mailboxsettings.read'
OAUTH_AUTHORITY=https://login.microsoftonline.com/common/
